
.foto
{ 
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110;
height: 145.37px;
    position: relative;
    
}

.TITULO
{
    text-align: center;
    font-family:'Times New Roman';
    font-weight: 700;
    font-size: 35px;
    position: relative;
    font-style: normal;
    color:#005677;
    background:#C4C4C4;
    padding:16px;
    margin: 0%;
    white-space: pre-wrap;


}

.datospersonales
{
    text-align: left;
    font-family:'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    position: relative;
    font-style: normal;
    color:#005677;
    background:#C4C4C4;
    height: 30px;
    white-space: pre-wrap;
    }

.listas
{
    text-align: left;
    font-family:'Times New Roman';
    font-weight:400;
    font-size: 20px;
    font-style: italic;
    position: relative;
    list-style-type: none;
    padding-inline-start: 20px
 }
 .uls
 ul {
    margin-top: 30px;
    padding-inline-start: 100px;
 }
.margen
 {
    margin-top: 30px;
    margin-bottom: 30px;
    
    
    margin: 0;
}

.banner {
    background-color:#E5E5E5 ;
}
.banne1r{
   padding-block: 20px;
    background-size: cover;
    background-position: center;
}
.footer
{
    text-align: center;
    font-family:'Times New Roman';
    font-weight: 700;
    font-size: 20px;
       font-style: normal;
       color: #FFFFFF;
       background:#005677;
    

    }
.row{
    align-items: flex-start;
}