.navbar
{
color: white;
text-decoration: none;


}
/* Logo */
.logo
{
position: absolute;
width: 166.38px;
height: 23px;
left: 40px;
top: 39px;

}
.barrita-negra
{
background-color:#222222;
height: 20px;
}

.seccion-naranja
{background-color: #F0A83E;
    height: 62px;


}

li {
    float: right;
  }
  /* lista de categorias*/
  li a 
  {
    display: block;
    text-decoration: none;
    color: aliceblue;
  }
  /* pawprint 1 */
.huellita
{
  width: 15px;
height: 14px;
}
/* Menu */

.menu
{
padding: 15px;
}
/* bowl-and-pet-daities-on-green-background 1 */
.backgroundimage
{
position: absolute;
width:100%;
left: calc(50% - 1025px/2 + 0.5px);
top: 81px;

}


.seccionfondo
{
  background-image: url('../img/fondo.png');  
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 10px;
  height: 500px;
  width: 100%;
  
}

.floatright{
float: right;
margin-top: 150px;
}